.containerIframe{
    background-color: white;
    margin-left: 5vw;
    margin-top: 7vh;
    width: 90vw;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.iframeStyle{
    margin-top: 1.5vh;
    margin-left: 2.5vw;
    height: 50vh;
    width: 85vw;
}

.iframeComments{
    position: relative;
    top: 3vh;
    left: 5vw;
    background-color: white;
    height: 30vh;
    width: 90vw;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.info{
    position: relative;
    left: 5vw;
    top: 6vh;
    margin-bottom: 10vh;
    background-color: white;
    height: 60vh;
    width: 90vw;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 700px) {
    .containerIframe{
        width: 50vw;
        margin-left: 3.5vw;
    }

    .iframeStyle{
        width: 48vw;
        margin-left: 1vw;
    }

    .iframeComments{
        position: absolute;
        top: 17.5vh;
        left: 56vw;
        width: 40vw;
        height: 52vh;
    }

    .info{
        margin-left: 3.5vw;
        left: 0vw;
        width: 93vw;
        top: 3vh;
    }
}